<div class="p-strip">
  <div class="row">
    <h1>会議日程 一覧</h1>

    <ul class="p-list--divided">
      <% meetings.each do |meeting| %>
      <li class="p-list__item">
        <a href='<%= routes.meeting_path(id: meeting.id) %>' class="p-button--base u-no-margin--bottom">
          <h4 class="u-no-margin--bottom"><%= meeting.formatted_date %>の<%= meeting.type == 0 ? "ブロック会議" : "寮生大会" %></h4>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div>
</div>
