<ul>
<% meetings.each do |meeting| %>
  <li>
    <%= meeting.date %>
    <ul>
    <% meeting.articles.each do |article| %>
      <li><a href='<%= routes.article_path(id: article.id) %>'><%= article.title %></a></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>