<div class="p-strip">
  <div class="row">
    <h2>寮生向けの部会・委員会の資料置き場</h2>

    <ul class="p-list--divided">
      <% documents.each do |document| %>
      <li class="p-list__item">
        <a href="<%= routes.document_path(document.id) %>" class="p-button--base u-no-margin--bottom">
          <h4 class="u-no-margin--bottom full-width"><%= document.title %><small>(文責:<%= document.user.name %>)</small></h4>
        </a>
      </li>
      <% end %>
    </ul>

    <p class="full-width u-align--right">
      <small><a href="<%= routes.new_login_docs_path %>" class="p-button--neutral">(部会・委員会の資料編集ページはこちら)</a></small>
    </p>
  </div>
</div>
