<div class="login-error">
  ユーザー名またはパスワードが間違っています
</div>
<div class="login-container">
  <div class="login-wrap">
    <%= form_for :login, routes.login_path + (standalone ? '?standalone=true' : (path && !path.empty? ? "?path=#{path}" : '')),
                  method: :post, class: 'login-form' do

          div class: 'login-title' do
            span 'Login'
          end

          div '', class: 'login-input-user' do
            svg xmlns: "http://www.w3.org/2000/svg", width: "40", height: "40", viewBox: "0 0 24 24", class: 'login-icon' do
              html.empty_tag(:path, d: "M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z")
            end
            text_field :username, required: '', class: 'login-text-input', placeholder: 'Username'
          end

          div '', class: 'login-input-pass' do
            svg xmlns: "http://www.w3.org/2000/svg", width: "40", height: "40", viewBox: "0 0 24 24", class: 'login-icon' do
              html.empty_tag(:path, d: "M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z")
            end
            password_field :password, required: '', class: 'login-text-input', id: 'login-password-input', placeholder: 'Password'
          end

          div class: 'login-password-show' do
            check_box :password_show, class: 'password-show-input', id: 'password-show-checkbox'
            label 'パスワードを表示します', for: 'password-show-checkbox'
          end

          div class: 'login-button-container' do
            submit 'SIGN IN', class: 'login-button'
          end

          # div class: 'login-option-title' do
          #   span 'Or Login with...'
          # end

      end %>
  </div>
</div>

<%= javascript 'login' %>