#Ignore bundler config
/.bundle

#Ignore bundler gems
/vendor

#Ignore other files
/public/assets*
/tmp
.env

#Ignore db export csv files
/db/kumanodocs/*.sqlite3
/db/kumanodocs/*.csv

#Ignore memo
./shimada-memo

#Ignore docs files
/docs
/giji
/shiryo

#Ignore log files
/logs
