#Ignore bundler config
/.bundle

#Ignore bundler gems
/vendor

#Ignore other files
/public/assets*
/tmp
.env
./.env*
#Ignore secret files
/lib/kumanodocs_hanami/jwt_public_key.rb
#Ignore db export csv files
/db/kumanodocs/*.sqlite3
/db/kumanodocs/*.csv

#Ignore memo
./shimada-memo
.gitignore
#Ignore docs files
/docs
/giji
/shiryo/*
/others
#Ignore log files
/logs