<div class="p-strip">
  <div class="row">
    <h1>議案の削除</h1>
    <div class="p-notification--caution">
      <p class="p-notification__response">
        <span class="p-notification__status">警告:</span>
        <h4>
          議案を削除した場合、もとに戻すことはできません. 十分に注意してください<br/>
          議案の内容が間違っていて変更したい場合には「削除＆新規作成」ではなく「編集」をしてください.
        </h4>
      </p>
    </div>
    <dl>
      <dt>題名</dt>
      <dd><%= article.title %></dd>
      <dt>文責者</dt>
      <dd><%= article.author.name %></dd>
      <dt>ブロック会議日程</dt>
      <dd><%= article.meeting.date %></dd>
    </dl>
    <p>上記の内容を読んだ上で削除する場合は以下のボタンを押してください</p>
    <%= form_for :article, routes.meeting_article_path(meeting_id: article.meeting_id, id: article.id),
    method: :delete, class: "delete_article" do
      hidden_field :confirm, value: true
      submit 'この議案の削除', class: "p-button--negative" end %>
  </div>
</div>
