<div class="p-strip">
  <div class="row">
    <h1><%= meeting.date %>のブロック会議の議案一覧</h1>
    <% articles.each do |article| %>
    <div class="p-card u-no-margin--bottom">
      <h3 class="p-card__title">
        <a href="<%= routes.meeting_article_path(meeting_id: article.meeting_id, id: article.id) %>">
          <%= article_numbered_title(article) %>
        </a>
      </h3>
      <div class="p-card__content">
        <p class="u-no-margin--bottom"><%= article.body %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
