<p><a href='<%= routes.root_path %>'>Admin top page(this page)</a></p>

<div>
  <ul>
    <% meetings.each do |meeting| %>
      <li><a href='<%= routes.meeting_path(id: meeting.id) %>'><%= meeting.date %></a></li>
    <% end %>
  </ul>
</div>
