<div class="p-strip">
  <div class="row">
    <h1>議事録一覧</h1>
    <ul class="p-list--divided">
      <% gijirokus.each do |gijiroku| %>
      <li class="p-list__item">
        <a href='<%= routes.gijiroku_path(id: gijiroku.id) %>' class="p-button--base u-no-margin--bottom">
          <h4 class="u-no-margin--bottom full-width">議事録<%= h gijiroku.id %> (文字数:<%= gijiroku.body.length %>) (更新日時:<%= gijiroku.updated_at %>)</h4>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
