<div class="p-strip">
  <div class="row">
    <h2>資料システム:メンテナンス用ページ</h2>
    <a href="<%= routes.users_path %>" class="p-button--neutral">
      <h4 class="u-no-margin--bottom">ユーザの一覧の表示</h4>
    </a>
  </div>
</div>
