<div class="p-strip">
  <div class="row">
    <h3>資料システム メンテナンス用ページへのログイン</h3>

    <div class="p-notification--negative">
      <div class="p-notification__content">
        <p class="p-notification__message">ユーザ名またはパスワードが不正です。もう一度確認してください。</p>
      </div>
    </div>

    <%=
      form_for :session, routes.sessions_path, method: :post,
                class: "p-form p-form--stacked" do
        div class: "p-form__group row" do
          div class: "col-2" do
            label 'ユーザー名', for: :name, class: "p-form__label u-align-text--right"
          end
          div class: "col-8" do
            div class: "p-form__control" do
              text_field :name, required: ""
            end
          end
        end

        div class: "p-form__group row" do
          div class: "col-2" do
            label 'パスワード', for: :password, class: "p-form__label u-align-text--right"
          end
          div class: "col-8" do
            div class: "p-form__control" do
              password_field :password, required: ""
            end
          end
        end

        div class: "row" do
          div class: "col-10" do
            submit 'ログイン', class: "p-button--positive u-float-right"
          end
        end
      end
    %>
  </div>
</div>
