<div>
  <p>OPTIONS: length(default:1*100), fontSize(default:12), raw(default:false)</p>
  <pre><code style="font-size:<%= font_size %>px;line-height:<%= font_size + 1 %>px;">
    <% logs.each do |line| %><%= h line %><% end %>
  </code></pre>
</div>
