<!DOCTYPE html>
<html>
  <head>
    <title>資料システム</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-1.8.1.min.css" />
  </head>
  <body>
    <header id="navigation" class="p-navigation" style="background-color: #e1f5fe">
      <div class="row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="/">
              <img src="/assets/logo.png" alt="" class="p-navigation__image">
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="u-no-margin--top">
      <div class="p-strip">
        <div class="row">
          <h1 class="u-vertically-center">
            <svg style="width:80px;height:80px" viewBox="0 0 24 24">
              <path fill="#000000" d="M7.57,20C6.23,20 5.14,18.91 5.14,17.57C5.14,16.5 6.32,14.5 7.57,12.81C8.82,14.5 10,16.5 10,17.57A2.43,2.43 0 0,1 7.57,20M12,2A10,10 0 0,0 2,12C2,13.75 2.45,15.38 3.24,16.81C3.4,16 3.81,15.07 4.31,14.17C4.11,13.5 4,12.75 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20C11.76,20 11.53,20 11.29,19.96C10.82,20.7 10.14,21.28 9.34,21.63C10.19,21.87 11.08,22 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,14C11.59,14 11.19,14.04 10.81,14.12C11.16,14.75 11.47,15.4 11.69,16C11.79,16 11.89,16 12,16C13.25,16 14.32,16.5 14.77,17.23L16.19,15.81C15.29,14.72 13.75,14 12,14M15.5,8C14.7,8 14,8.7 14,9.5C14,10.3 14.7,11 15.5,11C16.3,11 17,10.3 17,9.5C17,8.7 16.3,8 15.5,8M10,9.5C10,8.7 9.3,8 8.5,8C7.7,8 7,8.7 7,9.5C7,10.3 7.7,11 8.5,11C9.3,11 10,10.3 10,9.5" />
            </svg>
            <svg style="width:80px;height:80px" viewBox="0 0 24 24">
              <path fill="#000000" d="M9,7H11V11H13V7H15V17H13V13H9V7M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" />
            </svg>
            <svg style="width:80px;height:80px" viewBox="0 0 24 24">
              <path fill="#000000" d="M11,7H13A2,2 0 0,1 15,9V15A2,2 0 0,1 13,17H11A2,2 0 0,1 9,15V9A2,2 0 0,1 11,7M11,9V15H13V9H11M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" />
            </svg>
            <svg style="width:80px;height:80px;margin-right:10px;" viewBox="0 0 24 24">
              <path fill="#000000" d="M9,7H11V11H13V7H15V17H13V13H9V7M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" />
            </svg>
            - Not Found
          </h1>
          <p>ページが存在しません
          <a href="/" class="p-button--neutral">トップページへ</a>
          </p>
        </div>
      </div>
    </div>

    <footer class="p-strip--light is-shallow u-hide--small">
      <div class="row">
        <p class="full-width">
          Copyright© 2019 Kumano Dormitory IT Section <small>(Some rights reserved <a href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank">CC BY-ND 4.0</a>)</small>
        </p>
        <nav>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item"><a href="http://kumano-ryo.com" class="p-link--external" target="_blank">熊野寮ホームページ</a></li>
            <li class="p-inline-list__item"><a href="http://kumano-ryo.com/internal/" class="p-link--external" target="_blank">寮生向け内部ページ</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
