<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <header>
    </header>

    <%= yield %>
    
    <footer>
    </footer>
  </body>
</html>
