html {
  scroll-behavior: smooth;
}

// body {
//   -webkit-user-select: none;
//   -webkit-tap-highlight-color: transparent;
//   -webkit-touch-callout: none;
// }

.row-wide {
  max-width: 87rem;
}
.full-width {
  max-width: 100%;
}
.markdown {
  font-size: 1em;
  font-family: monospace,monospace;
  background-color: #f7f7f7;
  border: 1px solid #cdcdcd;
  border-radius: .125em;
  margin-bottom: 1.5rem;
  padding: .5rem 1rem;
  text-shadow: none;
}

.bottom-navigation {
  background-color: white;
  position: fixed;
  bottom: 0px;
  height: 56px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  display: flex;
  justify-content: center;
}
.bottom-navigation-item {
  display: flex;
  flex: 2 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  min-width: 60px;
  max-width: 168px;
  box-sizing: border-box;
}
.bottom-navigation-icon {
  fill: currentColor;
  color: rgba(0,0,0,0.54);
  padding-top: 8px;
  height: 32px;
  pointer-events: none;
  transition-property: padding-top, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.bottom-navigation-icon__active {
  fill: currentColor;
  color: #006064;
  padding-top: 6px;
  height: 30px;
  pointer-events: none;
  transition-property: padding-top, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.bottom-navigation-label {
  color: #5e6f77;
  margin-top: auto;
  padding-bottom: 10px;
  font-size: 0.75rem;
  pointer-events: none;
  transition-property: padding-top, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.bottom-navigation-label__active {
  color: #006064;
  margin-top: auto;
  padding-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 650;
  pointer-events: none;
  transition-property: padding-top, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.bottom-navigation-item-back {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  min-width: 60px;
  max-width: 168px;
  box-sizing: border-box;
  border-right: thin solid rgba(0,0,0,0.32);
}
.bottom-navigation-icon-back {
  fill: currentColor;
  color: #304ffe;
  padding-top: 16px;
  height: 40px;
  pointer-events: none;
  transition-property: padding-top, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

.diffBox {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.1rem;
  box-sizing: content-box;
}

.diffBox td {
  padding: 1px;
}
.diffBox table {
  table-layout: auto;
  margin: 0;
  overflow-x: visible;
  box-sizing: content-box;
}
.diffBox tbody tr:not(:first-child) {
  border-top: 0px;
}

.icon-settings {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18' width='18'%3E%3Cpath opacity='.12' fill='none' color='%23000' d='M15.997 15.998v-16h-16v16z'/%3E%3Cpath style='text-decoration-color:%23000;font-variant-numeric:normal;text-decoration-line:none;font-variant-position:normal;mix-blend-mode:normal;block-progression:tb;font-feature-settings:normal;shape-padding:0;font-variant-alternates:normal;text-indent:0;font-variant-caps:normal;text-decoration-style:solid;font-variant-ligatures:normal;isolation:auto;text-transform:none' d='M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z' fill='%23666' color='%23000' white-space='normal'/%3E%3C/svg%3E");
}
