.row-wide {
  max-width: 87rem;
}
.full-width {
  max-width: 100%;
}
.markdown {
  font-size: 1em;
  font-family: monospace,monospace;
  background-color: #f7f7f7;
  border: 1px solid #cdcdcd;
  border-radius: .125em;
  margin-bottom: 1.5rem;
  padding: .5rem 1rem;
  text-shadow: none;
}
