<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="u-no-margin">議案に表を追加</h2>
      <p><a href="#" class="p-button--neutral">表の追加方法の説明</a></p>
      <%= form_create(articles, article_id) %>
    </div>
  </div>
</div>
