<% if type == 0 %>
<!-- 利用方法 -->
<div class="p-strip--light is-shallow">
  <div class="row">
    <h2>資料システムの利用方法</h2>
    <p>このシステムはブロック会議の資料をネットで管理・閲覧できるようにするものです.</p>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h3>資料の閲覧方法</h3>
    <div class="p-card--highlighted">
      <p class="p-card__content u-no-margin--bottom">
        上部のナビゲーションバーから「ブロック会議」を選択 <br/>（スマートフォンの場合は上部のメニューから）<br/>
        ↓<br/>
        目的のブロック会議の日時を選択することで資料を見ることができます.<br/>
        議案は一つずつ表示されるため、そのページの下部にある次の議案へのボタンを押して閲覧してください
      </p>
    </div>
    <h3>ブロック会議への資料投稿方法</h3>
    <div class="p-card--highlighted">
      <p class="p-card__content u-no-margin--bottom">
        上部のナビゲーションバーから「議案投稿」を選択 <br/>
        ↓<br/>
        議案の投稿フォームが表示されるので、項目を入力してください<br/>
        注意として、採決項目を入力しても、議案の種別に「採決」が含まれていないと保存されません.必ず種別で「採決」を選択してから採決項目を入力してください。<br/><br/>
      </p>
      <p class="p-card__content u-no-margin--bottom p-heading--four">
        <u>議案の投稿できる時間や、通常議案と追加議案の区別については以下の項目を読んでください</u>
      </p>
    </div>
    <h3>議案の種類（通常議案と追加議案）</h3>
    <div class="p-card--highlighted">
      <p class="p-card__title p-heading--four">
        通常議案
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>資料委員会によってブロック会議前にチェックされた議案のこと</li>
          <li>通常はブロック会議の前々日の２１時が締め切り（資料委員会が開催される日）<br/>※ただし、資料委員会の開催される日が前々日ではない場合はそれに応じて締切が変動します（資料委員会が締め切りを決定する権限を持っています）</li>
          <li>資料委員会に印刷する責任がある</li>
        </ul>
      </p>
      <p class="p-card__title p-heading--four">
        追加議案
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>資料委員会によってチェックされずにブロック会議に提出された議案のこと</li>
          <li>ブロック会議の当日の２２時が締め切り（ブロック会議の開始前）</li>
          <li>基本的に<span class="p-heading--two">議案提起者が印刷する。</span><br/>
            <u><span class="p-heading--four">しかし、ブロック会議当日の夕方18時までに投稿された追加議案は資料委員会が印刷する</span></u><br/>
            ※資料委員会によって印刷されたかどうかは議案の詳細から確認できます
          </li>
        </ul>
      </p>
    </div>
    <h3>議案の投稿できる時間帯</h3>
    <div class="p-card--highlighted">
      <p class="p-card__title p-heading--three full-width">
        ブロック会議の前々日の21時 〜 ブロック会議当日の22時の間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎたブロック会議に対する追加議案のみ投稿できます。
          </li>
          <li>
            この期間に投稿された議案は基本的に追加議案として扱われますが、もし通常議案として扱って欲しい正当な理由がある場合は資料委員会に相談してください。（資料委員会は追加議案を通常議案に変更する権限を持っています）
          </li>
          <li>
            もし、次のブロック会議以降のブロック会議に議案を投稿したい場合は、次のブロック会議当日の22時以降に（次のブロック会議が終わってから）投稿してください。
          </li>
        </ul>
      </p>
      <p class="p-card__title p-heading--three">
        上記以外の期間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎていないすべてのブロック会議に議案を投稿できます.
          </li>
          <li>
            この期間に投稿された議案はすべて通常議案として扱われます.
          </li>
        </ul>
      </p>
    </div>
    <h3>議案の編集できる期間</h3>
    <div class="p-card--highlighted">
      <p class="p-card__title p-heading--three full-width">
        ブロック会議の前々日の21時 〜 ブロック会議当日の18時の間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎたブロック会議に対する<span class="p-heading--three">追加議案</span>のみ編集できます。
          </li>
          <li>
            この期間に編集された議案は基本的に追加議案として扱われますが、もし通常議案として扱って欲しい正当な理由がある場合は資料委員会に相談してください。（資料委員会は追加議案を通常議案に変更する権限を持っています）
          </li>
        </ul>
      </p>
      <p class="p-card__title p-heading--three full-width">
        ブロック会議当日の18時 〜 22時の間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎたブロック会議に対する<span class="p-heading--three">追加議案の新規投稿</span>のみできます。（編集することはできません）
          </li>
          <li>
            この期間に投稿された議案は資料委員会によって印刷されないため、議案提起者が印刷する必要があります.
          </li>
        </ul>
      </p>
      <p class="p-card__title p-heading--three">
        上記以外の期間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎていないすべての議案を編集できます.
          </li>
          <li>
            この期間に編集された議案はすべて通常議案として扱われます.
          </li>
        </ul>
      </p>
    </div>
    <h3>差分の書き方</h3>
    <div class="p-card--highlighted">
      <p class="p-card__content u-no-margin--bottom">
        前回の議案からの差分(or変更点)を簡潔に示したい場合は、議案の上部に変更点を文章でまとめてください。
      </p>
      <h4 class="p-card__title">例</h4>
      <pre>
【変更点】
・総論に、達成されていない仕事についての記述を書き加えた。
・総論に、各仕事の担当セクションを書き加えた。
・決算に、前回精算していなかった分の支出を書き加えた（インク代、有線マイク代）。

【本文】

１，総論
　100期情報部会の活動方針において示した主な仕事のうち、メーリングリストの移行（情報技術セクション担当）と情報部会機器の事務室での貸出（情報技術セクション担当）については達成された。一方、各種講習会の実施（情報監督セクション）については達成されていない。詳しくは次章に譲る。

２，各セクション総括

２−１，情報技術セクション
①機器の管理
　担当者を決め、毎週SC室,食堂のプリンターのインクの補充を行った。
　情報部が管理する機器(プロジェクターとスクリーン,ビデオカメラ)の貸出業務を庶務部に移行した。また、情報部が保有していた2台のビデオカメラの内1台を人権擁護部に譲渡した。
　食堂プリンターの管理は行わないことを決定した。これは、試験的にプリンターを設置していた当時は、資料委員会用の紙を勝手に使ったり一度に大量の枚数を印刷するといった不適切な使い方をする人が一部に存在し情報部側から周知をしてもその様な事態が収まる様子はなかったことと、それによってプリンターの故障が相次いだりインクの交換頻度が多く………
      </pre>
    </div>
    <h3>表の投稿方法</h3>
    <div class="p-card--highlighted">
      <h3 class="p-card__title">前提</h3>
      <p class="p-card__content u-no-margin--bottom">
        <li>基本的に<span class="p-heading--four"><u>予算表</u></span>または<span class="p-heading--four"><u>決算表</u></span>である</li>
        <li><span class="p-heading--four"><u>Excel</u></span>(or 表計算ソフト)で作成された表である</li>
        <li>表の中にセル結合がない</li>
      </p>
      <h3 class="p-card__title">投稿の方法</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ol>
          <li>議案を投稿する（表を本文中に記入したりはしない）</li>
          <li>議案の詳細画面に「編集」ボタンがあるので押す
            <ul>
              <li>議案のパスワード入力を求められるので入力する</li>
            </ul>
          </li>
          <li>議案の編集画面が表示されるので、「この議案に表を追加」ボタンを押す</li>
          <li>表のタイトルを入力し、Excelから表をコピペして投稿</li>
        </ol>
        <h4>※コピペしたあとにブラウザ上で編集しないでください！！<br/>正常に投稿できない可能性があります</h4>
      </p>
      <h3 class="p-card__title">注意</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>表のタイトルは、何の表なのか一意にわかるようにしてください。「予算」と書くのではなく「情報部 予算」と書いてください</li>
          <li>予算表と決算表以外はできるだけ投稿しないでください</li>
        </ul>
      </p>
    </div>

  </div>
</div>
<% elsif type == 1 %>
<!-- 議案の投稿方法 -->
<div class="p-strip--light is-shallow">
  <div class="row">
    <h2>議案の投稿方法の説明</h2>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h3>ブロック会議への資料投稿方法</h3>
    <div class="p-card--highlighted">
      <p class="p-card__content u-no-margin--bottom">
        議案の投稿フォームに項目を入力してください<br/>
        注意として、採決項目を入力しても、議案の種別に「採決」が含まれていないと保存されません.必ず種別で「採決」を選択してから採決項目を入力してください。<br/><br/>
      </p>
      <p class="p-card__content u-no-margin--bottom p-heading--four">
        <u>議案の投稿できる時間や、通常議案と追加議案の区別については以下の項目を読んでください</u>
      </p>
    </div>
    <h3>議案の種類（通常議案と追加議案）</h3>
    <div class="p-card--highlighted">
      <p class="p-card__title p-heading--four">
        通常議案
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>資料委員会によってブロック会議前にチェックされた議案のこと</li>
          <li>通常はブロック会議の前々日の２１時が締め切り（資料委員会が開催される日）<br/>※ただし、資料委員会の開催される日が前々日ではない場合はそれに応じて締切が変動します（資料委員会が締め切りを決定する権限を持っています）</li>
          <li>資料委員会に印刷する責任がある</li>
        </ul>
      </p>
      <p class="p-card__title p-heading--four">
        追加議案
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>資料委員会によってチェックされずにブロック会議に提出された議案のこと</li>
          <li>ブロック会議の当日の２２時が締め切り（ブロック会議の開始前）</li>
          <li>基本的に<span class="p-heading--two">議案提起者が印刷する。</span><br/>
            <u><span class="p-heading--four">しかし、ブロック会議当日の夕方18時までに投稿された追加議案は資料委員会が印刷する</span></u><br/>
            ※資料委員会によって印刷されたかどうかは議案の詳細から確認できます
          </li>
        </ul>
      </p>
    </div>
    <h3>議案の投稿できる時間帯</h3>
    <div class="p-card--highlighted">
      <p class="p-card__title p-heading--three full-width">
        ブロック会議の前々日の21時 〜 ブロック会議当日の22時の間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎたブロック会議に対する追加議案のみ投稿できます。
          </li>
          <li>
            この期間に投稿された議案は基本的に追加議案として扱われますが、もし通常議案として扱って欲しい正当な理由がある場合は資料委員会に相談してください。（資料委員会は追加議案を通常議案に変更する権限を持っています）
          </li>
          <li>
            もし、次のブロック会議以降のブロック会議に議案を投稿したい場合は、次のブロック会議当日の22時以降に（次のブロック会議が終わってから）投稿してください。
          </li>
        </ul>
      </p>
      <p class="p-card__title p-heading--three">
        上記以外の期間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎていないすべてのブロック会議に議案を投稿できます.
          </li>
          <li>
            この期間に投稿された議案はすべて通常議案として扱われます.
          </li>
        </ul>
      </p>
    </div>
    <h3>差分の書き方</h3>
    <div class="p-card--highlighted">
      <p class="p-card__content u-no-margin--bottom">
        前回の議案からの差分(or変更点)を簡潔に示したい場合は、議案の上部に変更点を文章でまとめてください。
      </p>
      <h4 class="p-card__title">例</h4>
      <pre>
【変更点】
・総論に、達成されていない仕事についての記述を書き加えた。
・総論に、各仕事の担当セクションを書き加えた。
・決算に、前回精算していなかった分の支出を書き加えた（インク代、有線マイク代）。

【本文】

１，総論
　100期情報部会の活動方針において示した主な仕事のうち、メーリングリストの移行（情報技術セクション担当）と情報部会機器の事務室での貸出（情報技術セクション担当）については達成された。一方、各種講習会の実施（情報監督セクション）については達成されていない。詳しくは次章に譲る。

２，各セクション総括

２−１，情報技術セクション
①機器の管理
　担当者を決め、毎週SC室,食堂のプリンターのインクの補充を行った。
　情報部が管理する機器(プロジェクターとスクリーン,ビデオカメラ)の貸出業務を庶務部に移行した。また、情報部が保有していた2台のビデオカメラの内1台を人権擁護部に譲渡した。
　食堂プリンターの管理は行わないことを決定した。これは、試験的にプリンターを設置していた当時は、資料委員会用の紙を勝手に使ったり一度に大量の枚数を印刷するといった不適切な使い方をする人が一部に存在し情報部側から周知をしてもその様な事態が収まる様子はなかったことと、それによってプリンターの故障が相次いだりインクの交換頻度が多く………
      </pre>
    </div>
    <h3>表の投稿方法</h3>
    <div class="p-card--highlighted">
      <h3 class="p-card__title">前提</h3>
      <p class="p-card__content u-no-margin--bottom">
        <li>基本的に<span class="p-heading--four"><u>予算表</u></span>または<span class="p-heading--four"><u>決算表</u></span>である</li>
        <li><span class="p-heading--four"><u>Excel</u></span>(or 表計算ソフト)で作成された表である</li>
        <li>表の中にセル結合がない</li>
      </p>
      <h3 class="p-card__title">投稿の方法</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ol>
          <li>議案を投稿する（表を本文中に記入したりはしない）</li>
          <li>議案の詳細画面に「編集」ボタンがあるので押す
            <ul>
              <li>議案のパスワード入力を求められるので入力する</li>
            </ul>
          </li>
          <li>議案の編集画面が表示されるので、「この議案に表を追加」ボタンを押す</li>
          <li>表のタイトルを入力し、Excelから表をコピペして投稿</li>
        </ol>
        <h4>※コピペしたあとにブラウザ上で編集しないでください！！<br/>正常に投稿できない可能性があります</h4>
      </p>
      <h3 class="p-card__title">注意</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>表のタイトルは、何の表なのか一意にわかるようにしてください。「予算」と書くのではなく「情報部 予算」と書いてください</li>
          <li>予算表と決算表以外はできるだけ投稿しないでください</li>
        </ul>
      </p>
    </div>
  </div>
</div>
<% elsif type == 2 %>
<!-- 議案の編集方法 -->
<div class="p-strip--light is-shallow">
  <div class="row">
    <h2>議案の編集方法の説明</h2>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h3>議案の編集方法</h3>
    <div class="p-card--highlighted">
      <p class="p-card__content u-no-margin--bottom">
        上部のナビゲーションバーから「ブロック会議」を選択 <br/>（スマートフォンの場合は上部のメニューから）<br/>
        ↓<br/>
        目的のブロック会議の日時を選択することで議案を閲覧することができます.<br/>
        目的の議案の詳細ページ内に議案の編集・削除ボタンがあります.<br/>
        ボタンが表示されていない場合は、編集・削除ができない期間です.議案を編集する必要があれば資料委員会に相談してください.
      </p>
    </div>
    <h3>議案の種類（通常議案と追加議案）</h3>
    <div class="p-card--highlighted">
      <p class="p-card__title p-heading--four">
        通常議案
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>資料委員会によってブロック会議前にチェックされた議案のこと</li>
          <li>通常はブロック会議の前々日の２１時が締め切り（資料委員会が開催される日）<br/>※ただし、資料委員会の開催される日が前々日ではない場合はそれに応じて締切が変動します（資料委員会が締め切りを決定する権限を持っています）</li>
          <li>資料委員会に印刷する責任がある</li>
        </ul>
      </p>
      <p class="p-card__title p-heading--four">
        追加議案
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>資料委員会によってチェックされずにブロック会議に提出された議案のこと</li>
          <li>ブロック会議の当日の２２時が締め切り（ブロック会議の開始前）</li>
          <li>基本的に<span class="p-heading--two">議案提起者が印刷する。</span><br/>
            <u><span class="p-heading--four">しかし、ブロック会議当日の夕方18時までに投稿された追加議案は資料委員会が印刷する</span></u><br/>
            ※資料委員会によって印刷されたかどうかは議案の詳細から確認できます
          </li>
        </ul>
      </p>
    </div>
    <h3>議案の編集できる期間</h3>
    <div class="p-card--highlighted">
      <p class="p-card__title p-heading--three full-width">
        ブロック会議の前々日の21時 〜 ブロック会議当日の18時の間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎたブロック会議に対する<span class="p-heading--three">追加議案</span>のみ編集できます。
          </li>
          <li>
            この期間に編集された議案は基本的に追加議案として扱われますが、もし通常議案として扱って欲しい正当な理由がある場合は資料委員会に相談してください。（資料委員会は追加議案を通常議案に変更する権限を持っています）
          </li>
        </ul>
      </p>
      <p class="p-card__title p-heading--three full-width">
        ブロック会議当日の18時 〜 22時の間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎたブロック会議に対する<span class="p-heading--three">追加議案の新規投稿</span>のみできます。（編集することはできません）
          </li>
          <li>
            この期間に投稿された議案は資料委員会によって印刷されないため、議案提起者が印刷する必要があります.
          </li>
        </ul>
      </p>
      <p class="p-card__title p-heading--three">
        上記以外の期間
      </p>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>
            この期間には、締め切りを過ぎていないすべての議案を編集できます.
          </li>
          <li>
            この期間に編集された議案はすべて通常議案として扱われます.
          </li>
        </ul>
      </p>
    </div>
    <h3>差分の書き方</h3>
    <div class="p-card--highlighted">
      <p class="p-card__content u-no-margin--bottom">
        前回の議案からの差分(or変更点)を簡潔に示したい場合は、議案の上部に変更点を文章でまとめてください。
      </p>
      <h4 class="p-card__title">例</h4>
      <pre>
【変更点】
・総論に、達成されていない仕事についての記述を書き加えた。
・総論に、各仕事の担当セクションを書き加えた。
・決算に、前回精算していなかった分の支出を書き加えた（インク代、有線マイク代）。

【本文】

１，総論
　100期情報部会の活動方針において示した主な仕事のうち、メーリングリストの移行（情報技術セクション担当）と情報部会機器の事務室での貸出（情報技術セクション担当）については達成された。一方、各種講習会の実施（情報監督セクション）については達成されていない。詳しくは次章に譲る。

２，各セクション総括

２−１，情報技術セクション
①機器の管理
　担当者を決め、毎週SC室,食堂のプリンターのインクの補充を行った。
　情報部が管理する機器(プロジェクターとスクリーン,ビデオカメラ)の貸出業務を庶務部に移行した。また、情報部が保有していた2台のビデオカメラの内1台を人権擁護部に譲渡した。
　食堂プリンターの管理は行わないことを決定した。これは、試験的にプリンターを設置していた当時は、資料委員会用の紙を勝手に使ったり一度に大量の枚数を印刷するといった不適切な使い方をする人が一部に存在し情報部側から周知をしてもその様な事態が収まる様子はなかったことと、それによってプリンターの故障が相次いだりインクの交換頻度が多く………
      </pre>
    </div>
    <h3>表の投稿方法</h3>
    <div class="p-card--highlighted">
      <h3 class="p-card__title">前提</h3>
      <p class="p-card__content u-no-margin--bottom">
        <li>基本的に<span class="p-heading--four"><u>予算表</u></span>または<span class="p-heading--four"><u>決算表</u></span>である</li>
        <li><span class="p-heading--four"><u>Excel</u></span>(or 表計算ソフト)で作成された表である</li>
        <li>表の中にセル結合がない</li>
      </p>
      <h3 class="p-card__title">投稿の方法</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ol>
          <li>議案を投稿する（表を本文中に記入したりはしない）</li>
          <li>議案の詳細画面に「編集」ボタンがあるので押す
            <ul>
              <li>議案のパスワード入力を求められるので入力する</li>
            </ul>
          </li>
          <li>議案の編集画面が表示されるので、「この議案に表を追加」ボタンを押す</li>
          <li>表のタイトルを入力し、Excelから表をコピペして投稿</li>
        </ol>
        <h4>※コピペしたあとにブラウザ上で編集しないでください！！<br/>正常に投稿できない可能性があります</h4>
      </p>
      <h3 class="p-card__title">注意</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>表のタイトルは、何の表なのか一意にわかるようにしてください。「予算」と書くのではなく「情報部 予算」と書いてください</li>
          <li>予算表と決算表以外はできるだけ投稿しないでください</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<% elsif type == 3 %>
<!-- 表の追加方法 -->
<div class="p-strip--light is-shallow">
  <div class="row">
    <h2>表の追加方法の説明</h2>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h3>表の投稿方法</h3>
    <div class="p-card--highlighted">
      <h3 class="p-card__title">前提</h3>
      <p class="p-card__content u-no-margin--bottom">
        <li>基本的に<span class="p-heading--four"><u>予算表</u></span>または<span class="p-heading--four"><u>決算表</u></span>である</li>
        <li><span class="p-heading--four"><u>Excel</u></span>(or 表計算ソフト)で作成された表である</li>
        <li>表の中にセル結合がない</li>
      </p>
      <h3 class="p-card__title">投稿の方法</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ol>
          <li>議案を投稿する（表を本文中に記入したりはしない）</li>
          <li>議案の詳細画面に「編集」ボタンがあるので押す
            <ul>
              <li>議案のパスワード入力を求められるので入力する</li>
            </ul>
          </li>
          <li>議案の編集画面が表示されるので、「この議案に表を追加」ボタンを押す</li>
          <li>表のタイトルを入力し、Excelから表をコピペして投稿</li>
        </ol>
        <h4>※コピペしたあとにブラウザ上で編集しないでください！！<br/>正常に投稿できない可能性があります</h4>
      </p>
      <h3 class="p-card__title">注意</h3>
      <p class="p-card__content u-no-margin--bottom">
        <ul>
          <li>表のタイトルは、何の表なのか一意にわかるようにしてください。「予算」と書くのではなく「情報部 予算」と書いてください</li>
          <li>予算表と決算表以外はできるだけ投稿しないでください</li>
        </ul>
      </p>
    </div>
  </div>
</div>
<% end %>
