<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="u-no-margin">議案の編集</h2>
      <p>
        <a href="#" class="p-button--neutral">議案の編集方法の説明</a>
        <a href="<%= routes.new_table_path %>" class="p-button--positive">この議案に表を追加</a>
      </p>
      <%= form_update(meetings, categories, article: article) %>
    </div>
  </div>
</div>
