<ul>
<% articles_by_meeting.each do |meeting, articles| %>
  <li>
    <%= meeting.date %>
    <ul>
    <% articles.each do |article| %>
      <li><a href='<%= routes.article_path(id: article.id) %>'><%= article.title %></a></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>