<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="u-no-margin">議案の編集</h2>
      <% if confirm_update %>
      <div class="p-notification--caution">
        <div class="p-notification__content">
          <h5 class="p-notification__title">注意:</h5>
          <p class="p-notification__message">
            同じ議案を他の人が編集中の可能性があります。それでも良い場合はパスワードを入力して保存をしてください。
          </p>
        </div>
      </div>
      <% end %>

      <%= form_update(meetings, categories, recent_articles, article_refs_selected, confirm_update: confirm_update) %>

      <%= javascript 'markdown_preview' %>
      <%= javascript 'article_reference' %>
    </div>
  </div>
</div>
